<launch>
    <node name="TeensyTCPComms" pkg="robotto_tcp_comms" type="robotto_tcp_comms_node" output="screen">
        <param name="server_ip" value="10.0.0.3"/>
        <param name="server_port" value="80"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="laser_tf_broadcaster" args="0 0 1 0 0 0 base_link laser 100" />
    <node pkg="tf" type="static_transform_publisher" name="laser_link_tf_broadcaster" args="0 0 1 0 0 0 base_link laser_link 100" />

    <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
        <param name="serial_port"         type="string" value="/dev/lidar"/>
        <param name="scan_mode"         type="string" value="Express"/>
        <param name="serial_baudrate"     type="int"    value="115200"/><!--A1/A2 -->
        <!--param name="serial_baudrate"     type="int"    value="256000"--><!--A3 -->
        <param name="frame_id"            type="string" value="laser"/>
        <param name="inverted"            type="bool"   value="false"/>
        <param name="angle_compensate"    type="bool"   value="true"/>
    </node>

<!--    <include file="$(find robotto_launch)/launch/gmapping.launch"/>-->
</launch>